.logo-box
      a.logo-text(href='/')
        span My Blog
    ul.menu
      li.active
        a
          img.menu_img(src='static/dist/assets/home.png')
          p Home
      li
        a
          img.menu_img(src='static/dist/assets/search.png')
          p Search
      li
        a
          img.menu_img(src='static/dist/assets/user_manage.png')
          p Users
      li
        a
          img.menu_img(src='static/dist/assets/message.png')
          p Contact