{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
	<main class="page-content">
		<div class="page-sidebar sidebar">
			<div class="logo-box">
				<a href="/" class="logo-text">
					<span>My Blog</span>
				</a>
			</div>
			<ul class="menu">
				<li class="active">
					<a>
						<img src="{{MEDIA_URL}}icon/home.png" class="menu_img">
						<p>Home</p>
					</a>
				</li>
				<li>
					<a>
						<img src="{{MEDIA_URL}}icon/search.png" class="menu_img">
						<p>Search</p>
					</a>
				</li>
				<li>
					<a>
						<img src="{{MEDIA_URL}}icon/user_manage.png" class="menu_img">
						<p>Users</p>
					</a>
				</li>
				<li>
					<a>
						<img src="{{MEDIA_URL}}icon/message.png" class="menu_img">
						<p>Contact</p>
					</a>
				</li>
			</ul>
		</div>
		<div class="page-inner">
			<div id="main-wrapper">
				<div class="row">
					<div class="col-md-10">
						{% block content %}
						{% endblock %}
					</div>
				</div>
				<div class="row">
					<div class="col-md-10">
						<div class="readnext-section">
							<div class="readnext-title">
								What to Read Next
							</div>
							<div class="readnext-body">
							{% for rpost in randpost%}
								<div class="col-xs-3">
									<a href="{% url 'post_detail' pk=rpost.pk %}" class="thumbnail">
										<img src="{{MEDIA_URL}}{{rpost.heroimage}}" class="img-responsive">
										<p>{{rpost.title}}</p>
									</a>
								</div>
							{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>