{% extends 'Blog/base.html' %}

{% block content %}
    <div class="post">
        <h2>{{ post.title }}</h2>
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date | date:"l, F dS, Y"}} | <span class="author">{{post.author}}</span>
            </div>
        {% endif %}
        <div class="img_preview">
	        <img src="{{MEDIA_URL}}{{post.heroimage}}" class="img-responsive">
	    </div>
	    <div class="col-md-7">
        	<p>{{post.body}}</p>
        </div>
        <div class="col-md-4">
        	<div class="opt_img">
	        	<img src="{{MEDIA_URL}}{{post.optionalimage}}" class="img-responsive">
	    	</div>
        </div>
    </div>
{% endblock %}