doctype html
html(ng-app="blog", lang="en")
    head
        title My First Blog
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=Edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="description", content="TIG Central")
        link(rel="stylesheet", type="text/css", href="{{ STATIC_URL }}dist/assets/#{pkg.name}.css")
  body.home
    div#wrapper(ui-view="blogapp")
    script(src="{{ STATIC_URL }}dist/assets/#{pkg.name}.js", charset="utf-8")