<!DOCTYPE html>
<html ng-app="blog" lang="en">
  <head>
    <title>My First Blog</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="TIG Central">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dist/assets/myproject.css">
  </head>
</html>
<body class="home">
  <div id="wrapper" ui-view="blogapp"></div>
  <script src="{{ STATIC_URL }}dist/assets/myproject.js" charset="utf-8"></script>
</body>