@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: url('OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('OpenSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: semiBold;
  font-weight: 800;
  src: url('OpenSans-Semibold.ttf') format('truetype');
}
body {
  position: relative;
  height: 100%!important;
  width: 100%;
  background: #ccc;
  color: #4E5E6A;
}

*{
  font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(123, 123, 123, 0.21);
  border-radius: 1px;
}

::-webkit-scrollbar-track {
  margin: 2px;
  border-radius: 2px;
}
